# =========================
# Python
# =========================
__pycache__/
.mypy_cache
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/
.env

# =========================
# Databases
# =========================
*.db
*.sqlite3

# =========================
# Docker
# =========================
*.log

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
